body {
    background: #202124;
    color: white;
}

li {
    list-style: none;
    padding: 0 1em;

}
li a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    
}
nav ul {
    display: flex;
    padding-left: 0;
}
.left-items a {
    color: #bdc1c6;
}
nav li:hover {
    text-decoration: underline;
}
.logo {
    display: flex;
    justify-content: center;
}
h1 {
    font-family: "Roboto", sans-serif;
    font-size: 5em;
}
main {
    display: flex;
    flex-direction: column;
}
.search-container {
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    
   
}
.buttons {
    display: flex;
    justify-content: center;
    padding: 2em;
    gap: 10px;
    
}
button {
    border: none;
    border-radius: 4px;
    padding: 0.6em;
    color: white;
    background: rgba(68, 62, 62, 0.5); 
}
button:hover {
    outline: 1px solid #bdc1c6;

}
input {
    border-radius: 16px;
    border: 1px solid #bdc1c6;
    background: #202124;
    width: 15em;
    color: white;
    height: 2.8em;
    width: 40em;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
